{{ attach_library('dse/search_form') }}

<div>
    {% if nothing_found %}
        <font size="+0.5"> По этому запросу ничего не найдено! </font>
    {% else %}
        {% set id = 0 %}
        <div class="lexical-search">
            <div class="accordion">
                {% for name, objects in response_array %}
                    {% set id = id + 1 %}
                        <div class="card">
                            <div class="card-header" id={{"heading#{id}"}}>
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target={{"#collapse#{id}"}} aria-expanded="true" aria-controls={{"collapse#{id}"}}>
                                        {{name}}
                                    </button>    
                            </div>

                            <div id={{"collapse#{id}"}} class="collapse show" aria-labelledby={{"heading#{id}"}}>
                                <div class="card-body output">
                                    {% for record in objects %}                                    
                                        <span class="badge"> 
                                            <a href={{record.url}} target="_blank"> {{record.format_title|raw}} </a>
                                        </span> <br>
                                    {% endfor %}
                                </div>
                            </div>
                            
                        </div>
                {% endfor %}
            </div>
        </div>    
    {% endif %}
</div>