{{ attach_library('dse/search_form') }}

<div>
    {% if nothing_found %}
        <font size="+0.5"> По этому запросу ничего не найдено! </font>
    {% else %}
        <div {{ attributes.addClass('output')}}>
        {% for name, objects in response_array %}
            <br>
            <div>
                <font size="+0.5"> <b> {{name}}: </b> </font>
                    {% for record in objects %}
                        <br> <span class="badge"> 
                            <a href={{record.url}} target="_blank"> {{record.format_title|raw}} </a>
                        </span>
                    {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
</div>