{{ attach_library('dse_render/style_responses')}}

<div>
    {% if nothing_found %}
        <font size="+0.5"> По этому запросу ничего не найдено! </font>
    {% else %}
        {% set id = 0 %}
        <div class="lexical-search">
            <div class="accordion">
                {% for name, objects in response_array %}
                    {% set id = id + 1 %}
                        <div class="accordion-item">
                            <div class="accordion-header" id={{"heading#{id}"}}>
                                    <div>
                                        <button class="accordion-button accordion-button-bg-color" type="button" data-bs-toggle="collapse" data-bs-target={{"#collapse#{id}"}} aria-expanded="true" aria-controls={{"collapse#{id}"}}>
                                            {{objects.source}}
                                        </button>
                                    </div>        
                            </div>

                            <div id={{"collapse#{id}"}} class="accordion-collapse collapse show" aria-labelledby={{"heading#{id}"}}>
                                <div class="accordion-body output d-flex flex-column">
                                    {% set style = objects.style %}
                                        <div class='d-flex flex-wrap'> 
                                        {% for record in objects.responses %}
                                            <div>                                   
                                                <span id={{record._id}} class="dse-found-item btn btn-outline-secondary me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Открыть статью"> 
                                                    {{record.display_title|raw}}
                                                    <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 1em; height: 1em;" viewBox="0 35 448 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#0d6efd" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
                                                    </span>
                                                </span>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    <div class="{{"ajax-render #{style}"}}"></div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>    
    {% endif %}
</div>