{{ attach_library('dse/search_form') }}
{{ attach_library('dse/display_search_results') }}

<div>
    {% if nothing_found %}
        <font size="+0.5"> По этому запросу ничего не найдено! </font>
    {% else %}
        {% set id = 0 %}
        <div class="lexical-search">
            <div class="accordion mt-3">
                {% for name, objects in response_array %}
                    {% set id = id + 1 %}
                        <div class="accordion-item">
                            <div class="accordion-header" id={{"heading#{id}"}}>
                                    <div>
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target={{"#collapse#{id}"}} aria-expanded="true" aria-controls={{"collapse#{id}"}}>
                                            {{objects.source}}
                                        </button>
                                    </div>        
                            </div>

                            <div id={{"collapse#{id}"}} class="accordion-collapse collapse show" aria-labelledby={{"heading#{id}"}}>
                                <div class="accordion-body output d-flex">
                                    {% for record in objects.response %}
                                        <div>                                    
                                            <span class="dse-found-item badge rounded-pill border"> 
                                                <a class="use-ajax" href={{record.url}} target="_blank"> {{record.format_title|raw}} </a>
                                            </span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                        </div>
                {% endfor %}
            </div>
        </div>    
    {% endif %}
</div>